
/* Base Styles -------------------- */

* {
  box-sizing: border-box;
}



/* navigation --------------------- */

#nav {
	width:500px;
	margin:0 auto;
	list-style:none;
	font: 14px "Helvetica light", Helvetica, Arial, sans-serif;

}
#nav li {
	float:left;
}
#nav a {
	display:block;
	text-align:center;
	width:100px; /* fixed width */
	text-decoration:none; 
	color: rgb(170, 170, 170);
	margin-right: 40px;
	margin-bottom: 40px;

}

#nav a:hover {
	color: rgb(109, 182, 102);

}

#nav a:active {
	color: black;
}

#nav a:visited {
	color: rgb (136, 136, 136);
}
.my_name {
	/* padding: 50px 70px 50px 15px; */
	padding-top: 70px;
	display: block;
	width: 75%
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	margin: auto;
	max-width: 500px;
}


.my_subtitle {
	display: block;
	width: 55%
	padding-left: 50px;
	padding-right: 50px;
	padding-bottom: 15px;
	margin: auto;
	max-width: 300px;
	margin-bottom:30px;

}

.line{
	display: block;
	width: 910px;
	margin: 60px auto;
	clear:both;
}

.wrapper {
	max-width: 920px;
	margin: auto;
	align-content: center;
} 

h1 {
	font: 20px Garamond, serif;
	color: rgb(109, 182, 102);
}

h2, h3 {
	font: 18px Garamond, serif;
	color: rgb(109, 182, 102);
}
p {
	font: 14px "Helvetica light", Helvetica, Arial, sans-serif;
	color: rgb(130, 130, 130);
}

/* Home page --------------------- */


#preview_photo {
	max-width: 300px;
	-webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;

}

#bw:hover {
	-webkit-filter: grayscale(50%);
}
/* About Page --------------------- */

.aboutme {
	max-width: 300px;
	float: right;
	margin-right: 10%;

}

.aboutme p {
	line-height: 150%;
	font-size: 12px;

}

.my_photo_wrap {
	max-width: 920px;
	margin: auto;
	align-content: center;
}

#my_photo {
	max-width: 600px;
	margin-bottom: 30px;

}
#connect {
	text-decoration:none; 
	color: rgb(130, 130, 130);
}

#connect a:hover {
	color: rgb(109, 182, 102); /* green */

}

#connect a:active {
	color: black;
}

#connect a:visited {
	color: rgb (130, 130, 130);
}

/* Projects ------------------------------------- */



.project_nav {
	width:910px;
	margin:0 auto;
	list-style:none;
	font: 12px "Helvetica light", Helvetica, Arial, sans-serif;
}

.project_nav {
	
	text-decoration: none;
	
}
.project_nav a {
	display:block;
	text-decoration: none; 
	color: rgb(109, 182, 102);
	
	margin-bottom: 40px;

}

.project_nav a:hover {
	color: rgb(170, 170, 170)

}

.project_nav a:active {
	color: black;
}

#align_left {
	float:left;
}

#align_right {
	float:right;
}
/* Projects ------------------------------------- */

.line_no_space {
	margin:60px auto 20px auto;
}
#project_description {
	clear:both;
	max-width: 300px;
	float: right;
	margin-right: 10%;
}

#project_description p {

	line-height: 150%;
	font-size: 12px;

}


.project_photos_wrap {
	max-width: 920px;
	margin: auto;
	align-content: center;
}

#project_photo {
	max-width: 600px;
	margin-bottom: 30px;

}
