html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

input {
  font-size: 12px;
}

h1 {
  font-size: 22px;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 20px 0 20px 0;
  border: none;
}

.app-container {
  min-height: 99%;
  height: 99%;
  width: 100%;
}

#map {
  height: 100%;
  width: 100%;
}

.options-box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  height: 100%;
  line-height: 35px;
  text-align: left;
}

.options-header {
  padding: 20px 20px 0 20px;
}

.restaurant-list-item {
  border-radius: 0 !important;
}

/* Media Queries */

@media only screen and (max-width: 767px) {
  .app-container {
    margin: 0 auto;
  }
  .options-col {
    margin-bottom: 10px;
  }
}
